<div class="page-header">
  <h1>{{topic.name}}</h1>
</div>

<h4>
  {{topic.description}}
</h4>

<h2> <ng-pluralize count="message.Replies.lenght"
                        when="{
                              '0': '0 viestiä',
                              'other': '{} viestiä'
                              }"
      >
      </ng-pluralize>
</h2>

<ul class="media-list">
  <li ng-repeat="message in topic.Messages" class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/messages/{{message.id}}">{{message.title}}</a>
      </h4>

      <p>
        {{message.content}}
      </p>

      <p class="text-muted">
    {{reply.User.username}},  {{message.createdAt | date}}
      </p>
    </div>
  </li>
</ul>

<div ng-if='userLoggedIn'>
<h2>Lisää oma viestisi</h2>
<form>
  <div class="form-group">
    <label>Otsikko</label>
    <input type="text" class="form-control" ng-model="newTitle">
  </div>

  <div class="form-group">
    <label>Viesti</label>
    <textarea class="form-control" ng-model="newMessage"></textarea>
  </div>
  <button class="btn btn-success" ng-click="postMessage(newTitle, newMessage)">Lisää viesti</button>
</form>
</div>