<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
  {{message.content}}
</p>

<h2>
  <ng-pluralize count="message.Replies.lenght"
                        when="{
                              '0': '0 viestiä',
                              'other': '{} viestiä'
                              }"
      >
      </ng-pluralize>
</h3>

<ul class="media-list">
  <li ng-repeat="reply in message.Replies" class="media">
    <div class="media-body">
      <h4 class="media-heading">{{reply.User.username}}</h4>
      <p>
      {{reply.content}}
      </p>
      <p class="text-muted">
       {{reply.User.username}}, {{reply.createdAt | date}}
      </p>
    </div>
  </li>
</ul>

<div ng-if='userLoggedIn'>
<h2>Lisää oma vastauksesi</h2>
<form>
  <div class="form-group">
    <label>Vastaus</label>
    <textarea class="form-control" ng-model="newReply"></textarea>
  </div>
  <button class="btn btn-success" ng-click="postReply(newReply)">Lisää vastaus</button>
</form>
</div>